/* Generated by InMemoryDatabaseModelInclude.tt downloaded from https://T4DacFx2TSQL.codeplex.com */
/* Copyright (c) 2015 Dr. John Tunnicliffe, Decision Analytics, London, UK  */


/*
 * *** DO NOT EDIT MANUALLY! ***
 * Document autogenerated on 06/02/2016 17:12:00 by the following template C:\Git_Codeplex\AdventureWorksDW2014\T4_Templates\AuditingTables.tt 
 *
 *  Written by Enrique Catala:
 ** Mentor at SolidQ:             http://www.solidq.com
 ** Microsoft Data Platform MVP:  https://mvp.microsoft.com/es-es/PublicProfile/5000312?fullName=Enrique%20Catala
 ** Blog:                         http://www.enriquecatala.com
 ** Twitter:                      https://twitter.com/enriquecatala
 ** 
 ** With credit to Dr. John Tunnicliffe, for their initial version of InMemoryDatabaseModelInclude.tt 
 **
 */
/***************************************************************
This file includes the auditing objects for the tables:
- dbo.DimDate
****************************************************************/

-- Auditing table for [dbo].[DimDate]
CREATE TABLE [Auditing].[DimDate]
(    
	[id] [bigint] IDENTITY(1,1) NOT NULL primary key,
	[DateKey] INT NOT NULL,
	[FullDateAlternateKey] DATE NOT NULL,
	[DayNumberOfWeek] TINYINT NOT NULL,
	[EnglishDayNameOfWeek] NVARCHAR(10) NOT NULL,
	[SpanishDayNameOfWeek] NVARCHAR(10) NOT NULL,
	[FrenchDayNameOfWeek] NVARCHAR(10) NOT NULL,
	[DayNumberOfMonth] TINYINT NOT NULL,
	[DayNumberOfYear] SMALLINT NOT NULL,
	[WeekNumberOfYear] TINYINT NOT NULL,
	[EnglishMonthName] NVARCHAR(10) NOT NULL,
	[SpanishMonthName] NVARCHAR(10) NOT NULL,
	[FrenchMonthName] NVARCHAR(10) NOT NULL,
	[MonthNumberOfYear] TINYINT NOT NULL,
	[CalendarQuarter] TINYINT NOT NULL,
	[CalendarYear] SMALLINT NOT NULL,
	[CalendarSemester] TINYINT NOT NULL,
	[FiscalQuarter] TINYINT NOT NULL,
	[FiscalYear] SMALLINT NOT NULL,
	[FiscalSemester] TINYINT NOT NULL,
    -- put your standard attributes here
    [AuditDataState] [char](3) NOT NULL,
	[AuditDMLAction] [char](1) NOT NULL,
	[AuditUser] [sysname] NOT NULL,
	[AuditDateTime] [datetime] not NULL default getdate(),
	[UpdateColumns] [varchar](max) NULL

);
GO

-- End of auto generated code!