/* Generated by InMemoryDatabaseModelInclude.tt downloaded from https://T4DacFx2TSQL.codeplex.com */
/* Copyright (c) 2015 Dr. John Tunnicliffe, Decision Analytics, London, UK  */


/*
 * *** DO NOT EDIT MANUALLY! ***
 * Document autogenerated on 06/02/2016 17:05:44 by the following template C:\Git_Codeplex\AdventureWorksDW2014\T4_Templates\AuditingTriggers.tt 
 *
 *  Written by Enrique Catala:
 ** Mentor at SolidQ:             http://www.solidq.com
 ** Microsoft Data Platform MVP:  https://mvp.microsoft.com/es-es/PublicProfile/5000312?fullName=Enrique%20Catala
 ** Blog:                         http://www.enriquecatala.com
 ** Twitter:                      https://twitter.com/enriquecatala
 ** 
 ** With credit to Dr. John Tunnicliffe, for their initial version of InMemoryDatabaseModelInclude.tt 
 **
 */
/***************************************************************
This file includes the TRIGGER objects for the tables:
- dbo.DimDate
****************************************************************/

-- Auditing trigger for insert operations on [dbo].[DimDate]
CREATE TRIGGER [dbo].[DimDate_AuditingTrigger_insert] 
    ON [dbo].[DimDate]
AFTER INSERT 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [Auditing].[DimDate]
    (		
		[DateKey]
		,[FullDateAlternateKey]
		,[DayNumberOfWeek]
		,[EnglishDayNameOfWeek]
		,[SpanishDayNameOfWeek]
		,[FrenchDayNameOfWeek]
		,[DayNumberOfMonth]
		,[DayNumberOfYear]
		,[WeekNumberOfYear]
		,[EnglishMonthName]
		,[SpanishMonthName]
		,[FrenchMonthName]
		,[MonthNumberOfYear]
		,[CalendarQuarter]
		,[CalendarYear]
		,[CalendarSemester]
		,[FiscalQuarter]
		,[FiscalYear]
		,[FiscalSemester]
        -- put your standard attributes here
		,[AuditDataState] ,
		[AuditDMLAction]  ,
		[AuditUser]		 
    )
    SELECT
		I.[DateKey]
		,I.[FullDateAlternateKey]
		,I.[DayNumberOfWeek]
		,I.[EnglishDayNameOfWeek]
		,I.[SpanishDayNameOfWeek]
		,I.[FrenchDayNameOfWeek]
		,I.[DayNumberOfMonth]
		,I.[DayNumberOfYear]
		,I.[WeekNumberOfYear]
		,I.[EnglishMonthName]
		,I.[SpanishMonthName]
		,I.[FrenchMonthName]
		,I.[MonthNumberOfYear]
		,I.[CalendarQuarter]
		,I.[CalendarYear]
		,I.[CalendarSemester]
		,I.[FiscalQuarter]
		,I.[FiscalYear]
		,I.[FiscalSemester]
        ,'new',
		'I',
		SUBSTRING(HOST_NAME(), CHARINDEX(',', HOST_NAME()) + 1, LEN(HOST_NAME()) - CHARINDEX(',', HOST_NAME())) 
    FROM INSERTED I;	
END;
GO

-- Auditing trigger for UPDATE operations on [dbo].[DimDate]
CREATE TRIGGER [dbo].[DimDate_AuditingTrigger_update] 
    ON [dbo].[DimDate]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [Auditing].[DimDate]
    (		
		[DateKey]
		,[FullDateAlternateKey]
		,[DayNumberOfWeek]
		,[EnglishDayNameOfWeek]
		,[SpanishDayNameOfWeek]
		,[FrenchDayNameOfWeek]
		,[DayNumberOfMonth]
		,[DayNumberOfYear]
		,[WeekNumberOfYear]
		,[EnglishMonthName]
		,[SpanishMonthName]
		,[FrenchMonthName]
		,[MonthNumberOfYear]
		,[CalendarQuarter]
		,[CalendarYear]
		,[CalendarSemester]
		,[FiscalQuarter]
		,[FiscalYear]
		,[FiscalSemester]
        -- put your standard attributes here
		,[AuditDataState] ,
		[AuditDMLAction]  ,
		[AuditUser] ,
		[UpdateColumns]	 
    )
    SELECT
		I.[DateKey]
		,I.[FullDateAlternateKey]
		,I.[DayNumberOfWeek]
		,I.[EnglishDayNameOfWeek]
		,I.[SpanishDayNameOfWeek]
		,I.[FrenchDayNameOfWeek]
		,I.[DayNumberOfMonth]
		,I.[DayNumberOfYear]
		,I.[WeekNumberOfYear]
		,I.[EnglishMonthName]
		,I.[SpanishMonthName]
		,I.[FrenchMonthName]
		,I.[MonthNumberOfYear]
		,I.[CalendarQuarter]
		,I.[CalendarYear]
		,I.[CalendarSemester]
		,I.[FiscalQuarter]
		,I.[FiscalYear]
		,I.[FiscalSemester]
        ,'new',
		'U',
		SUBSTRING(HOST_NAME(), CHARINDEX(',', HOST_NAME()) + 1, LEN(HOST_NAME()) - CHARINDEX(',', HOST_NAME())) ,	
		-- Updated columns
		 CASE WHEN UPDATE([DateKey]) THEN '[DateKey]-' ELSE '' END 
		+ CASE WHEN UPDATE([FullDateAlternateKey]) THEN '[FullDateAlternateKey]-' ELSE '' END 
		+ CASE WHEN UPDATE([DayNumberOfWeek]) THEN '[DayNumberOfWeek]-' ELSE '' END 
		+ CASE WHEN UPDATE([EnglishDayNameOfWeek]) THEN '[EnglishDayNameOfWeek]-' ELSE '' END 
		+ CASE WHEN UPDATE([SpanishDayNameOfWeek]) THEN '[SpanishDayNameOfWeek]-' ELSE '' END 
		+ CASE WHEN UPDATE([FrenchDayNameOfWeek]) THEN '[FrenchDayNameOfWeek]-' ELSE '' END 
		+ CASE WHEN UPDATE([DayNumberOfMonth]) THEN '[DayNumberOfMonth]-' ELSE '' END 
		+ CASE WHEN UPDATE([DayNumberOfYear]) THEN '[DayNumberOfYear]-' ELSE '' END 
		+ CASE WHEN UPDATE([WeekNumberOfYear]) THEN '[WeekNumberOfYear]-' ELSE '' END 
		+ CASE WHEN UPDATE([EnglishMonthName]) THEN '[EnglishMonthName]-' ELSE '' END 
		+ CASE WHEN UPDATE([SpanishMonthName]) THEN '[SpanishMonthName]-' ELSE '' END 
		+ CASE WHEN UPDATE([FrenchMonthName]) THEN '[FrenchMonthName]-' ELSE '' END 
		+ CASE WHEN UPDATE([MonthNumberOfYear]) THEN '[MonthNumberOfYear]-' ELSE '' END 
		+ CASE WHEN UPDATE([CalendarQuarter]) THEN '[CalendarQuarter]-' ELSE '' END 
		+ CASE WHEN UPDATE([CalendarYear]) THEN '[CalendarYear]-' ELSE '' END 
		+ CASE WHEN UPDATE([CalendarSemester]) THEN '[CalendarSemester]-' ELSE '' END 
		+ CASE WHEN UPDATE([FiscalQuarter]) THEN '[FiscalQuarter]-' ELSE '' END 
		+ CASE WHEN UPDATE([FiscalYear]) THEN '[FiscalYear]-' ELSE '' END 
		+ CASE WHEN UPDATE([FiscalSemester]) THEN '[FiscalSemester]-' ELSE '' END 
    FROM INSERTED I;
	
	 INSERT INTO [Auditing].[DimDate]
    (		
		[DateKey]
		,[FullDateAlternateKey]
		,[DayNumberOfWeek]
		,[EnglishDayNameOfWeek]
		,[SpanishDayNameOfWeek]
		,[FrenchDayNameOfWeek]
		,[DayNumberOfMonth]
		,[DayNumberOfYear]
		,[WeekNumberOfYear]
		,[EnglishMonthName]
		,[SpanishMonthName]
		,[FrenchMonthName]
		,[MonthNumberOfYear]
		,[CalendarQuarter]
		,[CalendarYear]
		,[CalendarSemester]
		,[FiscalQuarter]
		,[FiscalYear]
		,[FiscalSemester]
        -- put your standard attributes here
		,[AuditDataState] ,
		[AuditDMLAction]  ,
		[AuditUser] ,
		[UpdateColumns]	 
    )
    SELECT
		D.[DateKey]
		,D.[FullDateAlternateKey]
		,D.[DayNumberOfWeek]
		,D.[EnglishDayNameOfWeek]
		,D.[SpanishDayNameOfWeek]
		,D.[FrenchDayNameOfWeek]
		,D.[DayNumberOfMonth]
		,D.[DayNumberOfYear]
		,D.[WeekNumberOfYear]
		,D.[EnglishMonthName]
		,D.[SpanishMonthName]
		,D.[FrenchMonthName]
		,D.[MonthNumberOfYear]
		,D.[CalendarQuarter]
		,D.[CalendarYear]
		,D.[CalendarSemester]
		,D.[FiscalQuarter]
		,D.[FiscalYear]
		,D.[FiscalSemester]
        ,'old',
		'U',
		SUBSTRING(HOST_NAME(), CHARINDEX(',', HOST_NAME()) + 1, LEN(HOST_NAME()) - CHARINDEX(',', HOST_NAME())) ,
		-- Updated columns
		 CASE WHEN UPDATE([DateKey]) THEN '[DateKey]-' ELSE '' END 
		+ CASE WHEN UPDATE([FullDateAlternateKey]) THEN '[FullDateAlternateKey]-' ELSE '' END 
		+ CASE WHEN UPDATE([DayNumberOfWeek]) THEN '[DayNumberOfWeek]-' ELSE '' END 
		+ CASE WHEN UPDATE([EnglishDayNameOfWeek]) THEN '[EnglishDayNameOfWeek]-' ELSE '' END 
		+ CASE WHEN UPDATE([SpanishDayNameOfWeek]) THEN '[SpanishDayNameOfWeek]-' ELSE '' END 
		+ CASE WHEN UPDATE([FrenchDayNameOfWeek]) THEN '[FrenchDayNameOfWeek]-' ELSE '' END 
		+ CASE WHEN UPDATE([DayNumberOfMonth]) THEN '[DayNumberOfMonth]-' ELSE '' END 
		+ CASE WHEN UPDATE([DayNumberOfYear]) THEN '[DayNumberOfYear]-' ELSE '' END 
		+ CASE WHEN UPDATE([WeekNumberOfYear]) THEN '[WeekNumberOfYear]-' ELSE '' END 
		+ CASE WHEN UPDATE([EnglishMonthName]) THEN '[EnglishMonthName]-' ELSE '' END 
		+ CASE WHEN UPDATE([SpanishMonthName]) THEN '[SpanishMonthName]-' ELSE '' END 
		+ CASE WHEN UPDATE([FrenchMonthName]) THEN '[FrenchMonthName]-' ELSE '' END 
		+ CASE WHEN UPDATE([MonthNumberOfYear]) THEN '[MonthNumberOfYear]-' ELSE '' END 
		+ CASE WHEN UPDATE([CalendarQuarter]) THEN '[CalendarQuarter]-' ELSE '' END 
		+ CASE WHEN UPDATE([CalendarYear]) THEN '[CalendarYear]-' ELSE '' END 
		+ CASE WHEN UPDATE([CalendarSemester]) THEN '[CalendarSemester]-' ELSE '' END 
		+ CASE WHEN UPDATE([FiscalQuarter]) THEN '[FiscalQuarter]-' ELSE '' END 
		+ CASE WHEN UPDATE([FiscalYear]) THEN '[FiscalYear]-' ELSE '' END 
		+ CASE WHEN UPDATE([FiscalSemester]) THEN '[FiscalSemester]-' ELSE '' END 
    FROM DELETED D;

END;
GO


-- Auditing trigger for DELETE operations on [dbo].[DimDate]
CREATE TRIGGER [dbo].[DimDate_AuditingTrigger_delete] 
    ON [dbo].[DimDate]
AFTER DELETE 
AS
BEGIN
    SET NOCOUNT ON;	
	 
	INSERT INTO [Auditing].[DimDate]
    (		
		[DateKey]
		,[FullDateAlternateKey]
		,[DayNumberOfWeek]
		,[EnglishDayNameOfWeek]
		,[SpanishDayNameOfWeek]
		,[FrenchDayNameOfWeek]
		,[DayNumberOfMonth]
		,[DayNumberOfYear]
		,[WeekNumberOfYear]
		,[EnglishMonthName]
		,[SpanishMonthName]
		,[FrenchMonthName]
		,[MonthNumberOfYear]
		,[CalendarQuarter]
		,[CalendarYear]
		,[CalendarSemester]
		,[FiscalQuarter]
		,[FiscalYear]
		,[FiscalSemester]
        -- put your standard attributes here
		,[AuditDataState] ,
		[AuditDMLAction]  ,
		[AuditUser] 
    )
    SELECT
		D.[DateKey]
		,D.[FullDateAlternateKey]
		,D.[DayNumberOfWeek]
		,D.[EnglishDayNameOfWeek]
		,D.[SpanishDayNameOfWeek]
		,D.[FrenchDayNameOfWeek]
		,D.[DayNumberOfMonth]
		,D.[DayNumberOfYear]
		,D.[WeekNumberOfYear]
		,D.[EnglishMonthName]
		,D.[SpanishMonthName]
		,D.[FrenchMonthName]
		,D.[MonthNumberOfYear]
		,D.[CalendarQuarter]
		,D.[CalendarYear]
		,D.[CalendarSemester]
		,D.[FiscalQuarter]
		,D.[FiscalYear]
		,D.[FiscalSemester]
        ,'old',
		'D',
		SUBSTRING(HOST_NAME(), CHARINDEX(',', HOST_NAME()) + 1, LEN(HOST_NAME()) - CHARINDEX(',', HOST_NAME())) 		
    FROM DELETED D;
END;
GO
-- End of auto generated code!