/* Generated by InMemoryDatabaseModelInclude.tt downloaded from https://T4DacFx2TSQL.codeplex.com */
/* Copyright (c) 2015 Dr. John Tunnicliffe, Decision Analytics, London, UK  */


/*
 * This comment will appear at the top of your auto-generated file.
 * This file was generated automatically by a T4 Template 
 * DO NOT EDIT MANUALLY!
 */
-- History table for [dbo].[DimAccount]
CREATE TABLE [History].[DimAccount]
(
    [History_DimAccount_ID] INT NOT NULL IDENTITY(1,1),
	[AccountKey] INT NOT NULL,
	[ParentAccountKey] INT,
	[AccountCodeAlternateKey] INT,
	[ParentAccountCodeAlternateKey] INT,
	[AccountDescription] NVARCHAR(50),
	[AccountType] NVARCHAR(50),
	[Operator] NVARCHAR(50),
	[CustomMembers] NVARCHAR(300),
	[ValueType] NVARCHAR(50),
	[CustomMemberOptions] NVARCHAR(200),
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[DimCurrency]
CREATE TABLE [History].[DimCurrency]
(
    [History_DimCurrency_ID] INT NOT NULL IDENTITY(1,1),
	[CurrencyKey] INT NOT NULL,
	[CurrencyAlternateKey] NCHAR(3) NOT NULL,
	[CurrencyName] NVARCHAR(50) NOT NULL,
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[DimCustomer]
CREATE TABLE [History].[DimCustomer]
(
    [History_DimCustomer_ID] INT NOT NULL IDENTITY(1,1),
	[CustomerKey] INT NOT NULL,
	[GeographyKey] INT,
	[CustomerAlternateKey] NVARCHAR(15) NOT NULL,
	[Title] NVARCHAR(8),
	[FirstName] NVARCHAR(50),
	[MiddleName] NVARCHAR(50),
	[LastName] NVARCHAR(50),
	[NameStyle] BIT,
	[BirthDate] DATE,
	[MaritalStatus] NCHAR(1),
	[Suffix] NVARCHAR(10),
	[Gender] NVARCHAR(1),
	[EmailAddress] NVARCHAR(50),
	[YearlyIncome] MONEY,
	[TotalChildren] TINYINT,
	[NumberChildrenAtHome] TINYINT,
	[EnglishEducation] NVARCHAR(40),
	[SpanishEducation] NVARCHAR(40),
	[FrenchEducation] NVARCHAR(40),
	[EnglishOccupation] NVARCHAR(100),
	[SpanishOccupation] NVARCHAR(100),
	[FrenchOccupation] NVARCHAR(100),
	[HouseOwnerFlag] NCHAR(1),
	[NumberCarsOwned] TINYINT,
	[AddressLine1] NVARCHAR(120),
	[AddressLine2] NVARCHAR(120),
	[Phone] NVARCHAR(20),
	[DateFirstPurchase] DATE,
	[CommuteDistance] NVARCHAR(15),
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[DimDate]
CREATE TABLE [History].[DimDate]
(
    [History_DimDate_ID] INT NOT NULL IDENTITY(1,1),
	[DateKey] INT NOT NULL,
	[FullDateAlternateKey] DATE NOT NULL,
	[DayNumberOfWeek] TINYINT NOT NULL,
	[EnglishDayNameOfWeek] NVARCHAR(10) NOT NULL,
	[SpanishDayNameOfWeek] NVARCHAR(10) NOT NULL,
	[FrenchDayNameOfWeek] NVARCHAR(10) NOT NULL,
	[DayNumberOfMonth] TINYINT NOT NULL,
	[DayNumberOfYear] SMALLINT NOT NULL,
	[WeekNumberOfYear] TINYINT NOT NULL,
	[EnglishMonthName] NVARCHAR(10) NOT NULL,
	[SpanishMonthName] NVARCHAR(10) NOT NULL,
	[FrenchMonthName] NVARCHAR(10) NOT NULL,
	[MonthNumberOfYear] TINYINT NOT NULL,
	[CalendarQuarter] TINYINT NOT NULL,
	[CalendarYear] SMALLINT NOT NULL,
	[CalendarSemester] TINYINT NOT NULL,
	[FiscalQuarter] TINYINT NOT NULL,
	[FiscalYear] SMALLINT NOT NULL,
	[FiscalSemester] TINYINT NOT NULL,
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[DimDepartmentGroup]
CREATE TABLE [History].[DimDepartmentGroup]
(
    [History_DimDepartmentGroup_ID] INT NOT NULL IDENTITY(1,1),
	[DepartmentGroupKey] INT NOT NULL,
	[ParentDepartmentGroupKey] INT,
	[DepartmentGroupName] NVARCHAR(50),
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[DimEmployee]
CREATE TABLE [History].[DimEmployee]
(
    [History_DimEmployee_ID] INT NOT NULL IDENTITY(1,1),
	[EmployeeKey] INT NOT NULL,
	[ParentEmployeeKey] INT,
	[EmployeeNationalIDAlternateKey] NVARCHAR(15),
	[ParentEmployeeNationalIDAlternateKey] NVARCHAR(15),
	[SalesTerritoryKey] INT,
	[FirstName] NVARCHAR(50) NOT NULL,
	[LastName] NVARCHAR(50) NOT NULL,
	[MiddleName] NVARCHAR(50),
	[NameStyle] BIT NOT NULL,
	[Title] NVARCHAR(50),
	[HireDate] DATE,
	[BirthDate] DATE,
	[LoginID] NVARCHAR(256),
	[EmailAddress] NVARCHAR(50),
	[Phone] NVARCHAR(25),
	[MaritalStatus] NCHAR(1),
	[EmergencyContactName] NVARCHAR(50),
	[EmergencyContactPhone] NVARCHAR(25),
	[SalariedFlag] BIT,
	[Gender] NCHAR(1),
	[PayFrequency] TINYINT,
	[BaseRate] MONEY,
	[VacationHours] SMALLINT,
	[SickLeaveHours] SMALLINT,
	[CurrentFlag] BIT NOT NULL,
	[SalesPersonFlag] BIT NOT NULL,
	[DepartmentName] NVARCHAR(50),
	[StartDate] DATE,
	[EndDate] DATE,
	[Status] NVARCHAR(50),
	[EmployeePhoto] VARBINARY,
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[DimGeography]
CREATE TABLE [History].[DimGeography]
(
    [History_DimGeography_ID] INT NOT NULL IDENTITY(1,1),
	[GeographyKey] INT NOT NULL,
	[City] NVARCHAR(30),
	[StateProvinceCode] NVARCHAR(3),
	[StateProvinceName] NVARCHAR(50),
	[CountryRegionCode] NVARCHAR(3),
	[EnglishCountryRegionName] NVARCHAR(50),
	[SpanishCountryRegionName] NVARCHAR(50),
	[FrenchCountryRegionName] NVARCHAR(50),
	[PostalCode] NVARCHAR(15),
	[SalesTerritoryKey] INT,
	[IpAddressLocator] NVARCHAR(15),
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[DimMyExample]
CREATE TABLE [History].[DimMyExample]
(
    [History_DimMyExample_ID] INT NOT NULL IDENTITY(1,1),
	[CustomerKey] INT NOT NULL,
	[GeographyKey] INT NOT NULL,
	[Title] NVARCHAR(8),
	[FirstName] NVARCHAR(50),
	[Surname] NVARCHAR(50),
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[DimOrganization]
CREATE TABLE [History].[DimOrganization]
(
    [History_DimOrganization_ID] INT NOT NULL IDENTITY(1,1),
	[OrganizationKey] INT NOT NULL,
	[ParentOrganizationKey] INT,
	[PercentageOfOwnership] NVARCHAR(16),
	[OrganizationName] NVARCHAR(50),
	[CurrencyKey] INT,
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[DimProduct]
CREATE TABLE [History].[DimProduct]
(
    [History_DimProduct_ID] INT NOT NULL IDENTITY(1,1),
	[ProductKey] INT NOT NULL,
	[ProductAlternateKey] NVARCHAR(25),
	[ProductSubcategoryKey] INT,
	[WeightUnitMeasureCode] NCHAR(3),
	[SizeUnitMeasureCode] NCHAR(3),
	[EnglishProductName] NVARCHAR(50) NOT NULL,
	[SpanishProductName] NVARCHAR(50) NOT NULL,
	[FrenchProductName] NVARCHAR(50) NOT NULL,
	[StandardCost] MONEY,
	[FinishedGoodsFlag] BIT NOT NULL,
	[Color] NVARCHAR(15) NOT NULL,
	[SafetyStockLevel] SMALLINT,
	[ReorderPoint] SMALLINT,
	[ListPrice] MONEY,
	[Size] NVARCHAR(50),
	[SizeRange] NVARCHAR(50),
	[Weight] FLOAT(53),
	[DaysToManufacture] INT,
	[ProductLine] NCHAR(2),
	[DealerPrice] MONEY,
	[Class] NCHAR(2),
	[Style] NCHAR(2),
	[ModelName] NVARCHAR(50),
	[LargePhoto] VARBINARY,
	[EnglishDescription] NVARCHAR(400),
	[FrenchDescription] NVARCHAR(400),
	[ChineseDescription] NVARCHAR(400),
	[ArabicDescription] NVARCHAR(400),
	[HebrewDescription] NVARCHAR(400),
	[ThaiDescription] NVARCHAR(400),
	[GermanDescription] NVARCHAR(400),
	[JapaneseDescription] NVARCHAR(400),
	[TurkishDescription] NVARCHAR(400),
	[StartDate] DATETIME,
	[EndDate] DATETIME,
	[Status] NVARCHAR(7),
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[DimProductCategory]
CREATE TABLE [History].[DimProductCategory]
(
    [History_DimProductCategory_ID] INT NOT NULL IDENTITY(1,1),
	[ProductCategoryKey] INT NOT NULL,
	[ProductCategoryAlternateKey] INT,
	[EnglishProductCategoryName] NVARCHAR(50) NOT NULL,
	[SpanishProductCategoryName] NVARCHAR(50) NOT NULL,
	[FrenchProductCategoryName] NVARCHAR(50) NOT NULL,
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[DimProductSubcategory]
CREATE TABLE [History].[DimProductSubcategory]
(
    [History_DimProductSubcategory_ID] INT NOT NULL IDENTITY(1,1),
	[ProductSubcategoryKey] INT NOT NULL,
	[ProductSubcategoryAlternateKey] INT,
	[EnglishProductSubcategoryName] NVARCHAR(50) NOT NULL,
	[SpanishProductSubcategoryName] NVARCHAR(50) NOT NULL,
	[FrenchProductSubcategoryName] NVARCHAR(50) NOT NULL,
	[ProductCategoryKey] INT,
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[DimPromotion]
CREATE TABLE [History].[DimPromotion]
(
    [History_DimPromotion_ID] INT NOT NULL IDENTITY(1,1),
	[PromotionKey] INT NOT NULL,
	[PromotionAlternateKey] INT,
	[EnglishPromotionName] NVARCHAR(255),
	[SpanishPromotionName] NVARCHAR(255),
	[FrenchPromotionName] NVARCHAR(255),
	[DiscountPct] FLOAT(53),
	[EnglishPromotionType] NVARCHAR(50),
	[SpanishPromotionType] NVARCHAR(50),
	[FrenchPromotionType] NVARCHAR(50),
	[EnglishPromotionCategory] NVARCHAR(50),
	[SpanishPromotionCategory] NVARCHAR(50),
	[FrenchPromotionCategory] NVARCHAR(50),
	[StartDate] DATETIME NOT NULL,
	[EndDate] DATETIME,
	[MinQty] INT,
	[MaxQty] INT,
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[DimReseller]
CREATE TABLE [History].[DimReseller]
(
    [History_DimReseller_ID] INT NOT NULL IDENTITY(1,1),
	[ResellerKey] INT NOT NULL,
	[GeographyKey] INT,
	[ResellerAlternateKey] NVARCHAR(15),
	[Phone] NVARCHAR(25),
	[BusinessType] VARCHAR(20) NOT NULL,
	[ResellerName] NVARCHAR(50) NOT NULL,
	[NumberEmployees] INT,
	[OrderFrequency] CHAR(1),
	[OrderMonth] TINYINT,
	[FirstOrderYear] INT,
	[LastOrderYear] INT,
	[ProductLine] NVARCHAR(50),
	[AddressLine1] NVARCHAR(60),
	[AddressLine2] NVARCHAR(60),
	[AnnualSales] MONEY,
	[BankName] NVARCHAR(50),
	[MinPaymentType] TINYINT,
	[MinPaymentAmount] MONEY,
	[AnnualRevenue] MONEY,
	[YearOpened] INT,
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[DimSalesReason]
CREATE TABLE [History].[DimSalesReason]
(
    [History_DimSalesReason_ID] INT NOT NULL IDENTITY(1,1),
	[SalesReasonKey] INT NOT NULL,
	[SalesReasonAlternateKey] INT NOT NULL,
	[SalesReasonName] NVARCHAR(50) NOT NULL,
	[SalesReasonReasonType] NVARCHAR(50) NOT NULL,
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[DimSalesTerritory]
CREATE TABLE [History].[DimSalesTerritory]
(
    [History_DimSalesTerritory_ID] INT NOT NULL IDENTITY(1,1),
	[SalesTerritoryKey] INT NOT NULL,
	[SalesTerritoryAlternateKey] INT,
	[SalesTerritoryRegion] NVARCHAR(50) NOT NULL,
	[SalesTerritoryCountry] NVARCHAR(50) NOT NULL,
	[SalesTerritoryGroup] NVARCHAR(50),
	[SalesTerritoryImage] VARBINARY,
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[DimScenario]
CREATE TABLE [History].[DimScenario]
(
    [History_DimScenario_ID] INT NOT NULL IDENTITY(1,1),
	[ScenarioKey] INT NOT NULL,
	[ScenarioName] NVARCHAR(50),
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[FactAdditionalInternationalProductDescription]
CREATE TABLE [History].[FactAdditionalInternationalProductDescription]
(
    [History_FactAdditionalInternationalProductDescription_ID] INT NOT NULL IDENTITY(1,1),
	[ProductKey] INT NOT NULL,
	[CultureName] NVARCHAR(50) NOT NULL,
	[ProductDescription] NVARCHAR(MAX) NOT NULL,
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[FactCallCenter]
CREATE TABLE [History].[FactCallCenter]
(
    [History_FactCallCenter_ID] INT NOT NULL IDENTITY(1,1),
	[FactCallCenterID] INT NOT NULL,
	[DateKey] INT NOT NULL,
	[WageType] NVARCHAR(15) NOT NULL,
	[Shift] NVARCHAR(20) NOT NULL,
	[LevelOneOperators] SMALLINT NOT NULL,
	[LevelTwoOperators] SMALLINT NOT NULL,
	[TotalOperators] SMALLINT NOT NULL,
	[Calls] INT NOT NULL,
	[AutomaticResponses] INT NOT NULL,
	[Orders] INT NOT NULL,
	[IssuesRaised] SMALLINT NOT NULL,
	[AverageTimePerIssue] SMALLINT NOT NULL,
	[ServiceGrade] FLOAT(53) NOT NULL,
	[Date] DATETIME,
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[FactCurrencyRate]
CREATE TABLE [History].[FactCurrencyRate]
(
    [History_FactCurrencyRate_ID] INT NOT NULL IDENTITY(1,1),
	[CurrencyKey] INT NOT NULL,
	[DateKey] INT NOT NULL,
	[AverageRate] FLOAT(53) NOT NULL,
	[EndOfDayRate] FLOAT(53) NOT NULL,
	[Date] DATETIME,
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[FactFinance]
CREATE TABLE [History].[FactFinance]
(
    [History_FactFinance_ID] INT NOT NULL IDENTITY(1,1),
	[FinanceKey] INT NOT NULL,
	[DateKey] INT NOT NULL,
	[OrganizationKey] INT NOT NULL,
	[DepartmentGroupKey] INT NOT NULL,
	[ScenarioKey] INT NOT NULL,
	[AccountKey] INT NOT NULL,
	[Amount] FLOAT(53) NOT NULL,
	[Date] DATETIME,
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[FactInternetSales]
CREATE TABLE [History].[FactInternetSales]
(
    [History_FactInternetSales_ID] INT NOT NULL IDENTITY(1,1),
	[ProductKey] INT NOT NULL,
	[OrderDateKey] INT NOT NULL,
	[DueDateKey] INT NOT NULL,
	[ShipDateKey] INT NOT NULL,
	[CustomerKey] INT NOT NULL,
	[PromotionKey] INT NOT NULL,
	[CurrencyKey] INT NOT NULL,
	[SalesTerritoryKey] INT NOT NULL,
	[SalesOrderNumber] NVARCHAR(20) NOT NULL,
	[SalesOrderLineNumber] TINYINT NOT NULL,
	[RevisionNumber] TINYINT NOT NULL,
	[OrderQuantity] SMALLINT NOT NULL,
	[UnitPrice] MONEY NOT NULL,
	[ExtendedAmount] MONEY NOT NULL,
	[UnitPriceDiscountPct] FLOAT(53) NOT NULL,
	[DiscountAmount] FLOAT(53) NOT NULL,
	[ProductStandardCost] MONEY NOT NULL,
	[TotalProductCost] MONEY NOT NULL,
	[SalesAmount] MONEY NOT NULL,
	[TaxAmt] MONEY NOT NULL,
	[Freight] MONEY NOT NULL,
	[CarrierTrackingNumber] NVARCHAR(25),
	[CustomerPONumber] NVARCHAR(25),
	[OrderDate] DATETIME,
	[DueDate] DATETIME,
	[ShipDate] DATETIME,
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[FactInternetSalesReason]
CREATE TABLE [History].[FactInternetSalesReason]
(
    [History_FactInternetSalesReason_ID] INT NOT NULL IDENTITY(1,1),
	[SalesOrderNumber] NVARCHAR(20) NOT NULL,
	[SalesOrderLineNumber] TINYINT NOT NULL,
	[SalesReasonKey] INT NOT NULL,
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[FactProductInventory]
CREATE TABLE [History].[FactProductInventory]
(
    [History_FactProductInventory_ID] INT NOT NULL IDENTITY(1,1),
	[ProductKey] INT NOT NULL,
	[DateKey] INT NOT NULL,
	[MovementDate] DATE NOT NULL,
	[UnitCost] MONEY NOT NULL,
	[UnitsIn] INT NOT NULL,
	[UnitsOut] INT NOT NULL,
	[UnitsBalance] INT NOT NULL,
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[FactResellerSales]
CREATE TABLE [History].[FactResellerSales]
(
    [History_FactResellerSales_ID] INT NOT NULL IDENTITY(1,1),
	[ProductKey] INT NOT NULL,
	[OrderDateKey] INT NOT NULL,
	[DueDateKey] INT NOT NULL,
	[ShipDateKey] INT NOT NULL,
	[ResellerKey] INT NOT NULL,
	[EmployeeKey] INT NOT NULL,
	[PromotionKey] INT NOT NULL,
	[CurrencyKey] INT NOT NULL,
	[SalesTerritoryKey] INT NOT NULL,
	[SalesOrderNumber] NVARCHAR(20) NOT NULL,
	[SalesOrderLineNumber] TINYINT NOT NULL,
	[RevisionNumber] TINYINT,
	[OrderQuantity] SMALLINT,
	[UnitPrice] MONEY,
	[ExtendedAmount] MONEY,
	[UnitPriceDiscountPct] FLOAT(53),
	[DiscountAmount] FLOAT(53),
	[ProductStandardCost] MONEY,
	[TotalProductCost] MONEY,
	[SalesAmount] MONEY,
	[TaxAmt] MONEY,
	[Freight] MONEY,
	[CarrierTrackingNumber] NVARCHAR(25),
	[CustomerPONumber] NVARCHAR(25),
	[OrderDate] DATETIME,
	[DueDate] DATETIME,
	[ShipDate] DATETIME,
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[FactSalesQuota]
CREATE TABLE [History].[FactSalesQuota]
(
    [History_FactSalesQuota_ID] INT NOT NULL IDENTITY(1,1),
	[SalesQuotaKey] INT NOT NULL,
	[EmployeeKey] INT NOT NULL,
	[DateKey] INT NOT NULL,
	[CalendarYear] SMALLINT NOT NULL,
	[CalendarQuarter] TINYINT NOT NULL,
	[SalesAmountQuota] MONEY NOT NULL,
	[Date] DATETIME,
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- History table for [dbo].[FactSurveyResponse]
CREATE TABLE [History].[FactSurveyResponse]
(
    [History_FactSurveyResponse_ID] INT NOT NULL IDENTITY(1,1),
	[SurveyResponseKey] INT NOT NULL,
	[DateKey] INT NOT NULL,
	[CustomerKey] INT NOT NULL,
	[ProductCategoryKey] INT NOT NULL,
	[EnglishProductCategoryName] NVARCHAR(50) NOT NULL,
	[ProductSubcategoryKey] INT NOT NULL,
	[EnglishProductSubcategoryName] NVARCHAR(50) NOT NULL,
	[Date] DATETIME,
    -- put your standard attributes here
    [EtlUpdatedDate] DATETIME NOT NULL,
) ON [History];
GO

-- End of auto generated code!