/* Generated by InMemoryDatabaseModelInclude.tt downloaded from https://T4DacFx2TSQL.codeplex.com */
/* Copyright (c) 2015 Dr. John Tunnicliffe, Decision Analytics, London, UK  */


/*
 * This comment will appear at the top of your auto-generated file.
 * This file was generated automatically by a T4 Template 
 * DO NOT EDIT MANUALLY!
 */
-- History trigger for [dbo].[DimAccount]
CREATE TRIGGER [dbo].[DimAccount_HistoryTrigger] 
    ON [dbo].[DimAccount]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[DimAccount]
    (
		[AccountKey]
		,[ParentAccountKey]
		,[AccountCodeAlternateKey]
		,[ParentAccountCodeAlternateKey]
		,[AccountDescription]
		,[AccountType]
		,[Operator]
		,[CustomMembers]
		,[ValueType]
		,[CustomMemberOptions]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[AccountKey]
		,D.[ParentAccountKey]
		,D.[AccountCodeAlternateKey]
		,D.[ParentAccountCodeAlternateKey]
		,D.[AccountDescription]
		,D.[AccountType]
		,D.[Operator]
		,D.[CustomMembers]
		,D.[ValueType]
		,D.[CustomMemberOptions]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[AccountKey] = I.[AccountKey]
			
END;
GO

-- History trigger for [dbo].[DimCurrency]
CREATE TRIGGER [dbo].[DimCurrency_HistoryTrigger] 
    ON [dbo].[DimCurrency]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[DimCurrency]
    (
		[CurrencyKey]
		,[CurrencyAlternateKey]
		,[CurrencyName]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[CurrencyKey]
		,D.[CurrencyAlternateKey]
		,D.[CurrencyName]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[CurrencyKey] = I.[CurrencyKey]
			
END;
GO

-- History trigger for [dbo].[DimCustomer]
CREATE TRIGGER [dbo].[DimCustomer_HistoryTrigger] 
    ON [dbo].[DimCustomer]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[DimCustomer]
    (
		[CustomerKey]
		,[GeographyKey]
		,[CustomerAlternateKey]
		,[Title]
		,[FirstName]
		,[MiddleName]
		,[LastName]
		,[NameStyle]
		,[BirthDate]
		,[MaritalStatus]
		,[Suffix]
		,[Gender]
		,[EmailAddress]
		,[YearlyIncome]
		,[TotalChildren]
		,[NumberChildrenAtHome]
		,[EnglishEducation]
		,[SpanishEducation]
		,[FrenchEducation]
		,[EnglishOccupation]
		,[SpanishOccupation]
		,[FrenchOccupation]
		,[HouseOwnerFlag]
		,[NumberCarsOwned]
		,[AddressLine1]
		,[AddressLine2]
		,[Phone]
		,[DateFirstPurchase]
		,[CommuteDistance]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[CustomerKey]
		,D.[GeographyKey]
		,D.[CustomerAlternateKey]
		,D.[Title]
		,D.[FirstName]
		,D.[MiddleName]
		,D.[LastName]
		,D.[NameStyle]
		,D.[BirthDate]
		,D.[MaritalStatus]
		,D.[Suffix]
		,D.[Gender]
		,D.[EmailAddress]
		,D.[YearlyIncome]
		,D.[TotalChildren]
		,D.[NumberChildrenAtHome]
		,D.[EnglishEducation]
		,D.[SpanishEducation]
		,D.[FrenchEducation]
		,D.[EnglishOccupation]
		,D.[SpanishOccupation]
		,D.[FrenchOccupation]
		,D.[HouseOwnerFlag]
		,D.[NumberCarsOwned]
		,D.[AddressLine1]
		,D.[AddressLine2]
		,D.[Phone]
		,D.[DateFirstPurchase]
		,D.[CommuteDistance]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[CustomerKey] = I.[CustomerKey]
			
END;
GO

-- History trigger for [dbo].[DimDate]
CREATE TRIGGER [dbo].[DimDate_HistoryTrigger] 
    ON [dbo].[DimDate]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[DimDate]
    (
		[DateKey]
		,[FullDateAlternateKey]
		,[DayNumberOfWeek]
		,[EnglishDayNameOfWeek]
		,[SpanishDayNameOfWeek]
		,[FrenchDayNameOfWeek]
		,[DayNumberOfMonth]
		,[DayNumberOfYear]
		,[WeekNumberOfYear]
		,[EnglishMonthName]
		,[SpanishMonthName]
		,[FrenchMonthName]
		,[MonthNumberOfYear]
		,[CalendarQuarter]
		,[CalendarYear]
		,[CalendarSemester]
		,[FiscalQuarter]
		,[FiscalYear]
		,[FiscalSemester]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[DateKey]
		,D.[FullDateAlternateKey]
		,D.[DayNumberOfWeek]
		,D.[EnglishDayNameOfWeek]
		,D.[SpanishDayNameOfWeek]
		,D.[FrenchDayNameOfWeek]
		,D.[DayNumberOfMonth]
		,D.[DayNumberOfYear]
		,D.[WeekNumberOfYear]
		,D.[EnglishMonthName]
		,D.[SpanishMonthName]
		,D.[FrenchMonthName]
		,D.[MonthNumberOfYear]
		,D.[CalendarQuarter]
		,D.[CalendarYear]
		,D.[CalendarSemester]
		,D.[FiscalQuarter]
		,D.[FiscalYear]
		,D.[FiscalSemester]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[DateKey] = I.[DateKey]
			
END;
GO

-- History trigger for [dbo].[DimDepartmentGroup]
CREATE TRIGGER [dbo].[DimDepartmentGroup_HistoryTrigger] 
    ON [dbo].[DimDepartmentGroup]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[DimDepartmentGroup]
    (
		[DepartmentGroupKey]
		,[ParentDepartmentGroupKey]
		,[DepartmentGroupName]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[DepartmentGroupKey]
		,D.[ParentDepartmentGroupKey]
		,D.[DepartmentGroupName]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[DepartmentGroupKey] = I.[DepartmentGroupKey]
			
END;
GO

-- History trigger for [dbo].[DimEmployee]
CREATE TRIGGER [dbo].[DimEmployee_HistoryTrigger] 
    ON [dbo].[DimEmployee]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[DimEmployee]
    (
		[EmployeeKey]
		,[ParentEmployeeKey]
		,[EmployeeNationalIDAlternateKey]
		,[ParentEmployeeNationalIDAlternateKey]
		,[SalesTerritoryKey]
		,[FirstName]
		,[LastName]
		,[MiddleName]
		,[NameStyle]
		,[Title]
		,[HireDate]
		,[BirthDate]
		,[LoginID]
		,[EmailAddress]
		,[Phone]
		,[MaritalStatus]
		,[EmergencyContactName]
		,[EmergencyContactPhone]
		,[SalariedFlag]
		,[Gender]
		,[PayFrequency]
		,[BaseRate]
		,[VacationHours]
		,[SickLeaveHours]
		,[CurrentFlag]
		,[SalesPersonFlag]
		,[DepartmentName]
		,[StartDate]
		,[EndDate]
		,[Status]
		,[EmployeePhoto]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[EmployeeKey]
		,D.[ParentEmployeeKey]
		,D.[EmployeeNationalIDAlternateKey]
		,D.[ParentEmployeeNationalIDAlternateKey]
		,D.[SalesTerritoryKey]
		,D.[FirstName]
		,D.[LastName]
		,D.[MiddleName]
		,D.[NameStyle]
		,D.[Title]
		,D.[HireDate]
		,D.[BirthDate]
		,D.[LoginID]
		,D.[EmailAddress]
		,D.[Phone]
		,D.[MaritalStatus]
		,D.[EmergencyContactName]
		,D.[EmergencyContactPhone]
		,D.[SalariedFlag]
		,D.[Gender]
		,D.[PayFrequency]
		,D.[BaseRate]
		,D.[VacationHours]
		,D.[SickLeaveHours]
		,D.[CurrentFlag]
		,D.[SalesPersonFlag]
		,D.[DepartmentName]
		,D.[StartDate]
		,D.[EndDate]
		,D.[Status]
		,D.[EmployeePhoto]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[EmployeeKey] = I.[EmployeeKey]
			
END;
GO

-- History trigger for [dbo].[DimGeography]
CREATE TRIGGER [dbo].[DimGeography_HistoryTrigger] 
    ON [dbo].[DimGeography]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[DimGeography]
    (
		[GeographyKey]
		,[City]
		,[StateProvinceCode]
		,[StateProvinceName]
		,[CountryRegionCode]
		,[EnglishCountryRegionName]
		,[SpanishCountryRegionName]
		,[FrenchCountryRegionName]
		,[PostalCode]
		,[SalesTerritoryKey]
		,[IpAddressLocator]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[GeographyKey]
		,D.[City]
		,D.[StateProvinceCode]
		,D.[StateProvinceName]
		,D.[CountryRegionCode]
		,D.[EnglishCountryRegionName]
		,D.[SpanishCountryRegionName]
		,D.[FrenchCountryRegionName]
		,D.[PostalCode]
		,D.[SalesTerritoryKey]
		,D.[IpAddressLocator]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[GeographyKey] = I.[GeographyKey]
			
END;
GO

-- History trigger for [dbo].[DimMyExample]
CREATE TRIGGER [dbo].[DimMyExample_HistoryTrigger] 
    ON [dbo].[DimMyExample]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[DimMyExample]
    (
		[CustomerKey]
		,[GeographyKey]
		,[Title]
		,[FirstName]
		,[Surname]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[CustomerKey]
		,D.[GeographyKey]
		,D.[Title]
		,D.[FirstName]
		,D.[Surname]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[CustomerKey] = I.[CustomerKey]
			AND D.[GeographyKey] = I.[GeographyKey]
			
END;
GO

-- History trigger for [dbo].[DimOrganization]
CREATE TRIGGER [dbo].[DimOrganization_HistoryTrigger] 
    ON [dbo].[DimOrganization]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[DimOrganization]
    (
		[OrganizationKey]
		,[ParentOrganizationKey]
		,[PercentageOfOwnership]
		,[OrganizationName]
		,[CurrencyKey]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[OrganizationKey]
		,D.[ParentOrganizationKey]
		,D.[PercentageOfOwnership]
		,D.[OrganizationName]
		,D.[CurrencyKey]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[OrganizationKey] = I.[OrganizationKey]
			
END;
GO

-- History trigger for [dbo].[DimProduct]
CREATE TRIGGER [dbo].[DimProduct_HistoryTrigger] 
    ON [dbo].[DimProduct]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[DimProduct]
    (
		[ProductKey]
		,[ProductAlternateKey]
		,[ProductSubcategoryKey]
		,[WeightUnitMeasureCode]
		,[SizeUnitMeasureCode]
		,[EnglishProductName]
		,[SpanishProductName]
		,[FrenchProductName]
		,[StandardCost]
		,[FinishedGoodsFlag]
		,[Color]
		,[SafetyStockLevel]
		,[ReorderPoint]
		,[ListPrice]
		,[Size]
		,[SizeRange]
		,[Weight]
		,[DaysToManufacture]
		,[ProductLine]
		,[DealerPrice]
		,[Class]
		,[Style]
		,[ModelName]
		,[LargePhoto]
		,[EnglishDescription]
		,[FrenchDescription]
		,[ChineseDescription]
		,[ArabicDescription]
		,[HebrewDescription]
		,[ThaiDescription]
		,[GermanDescription]
		,[JapaneseDescription]
		,[TurkishDescription]
		,[StartDate]
		,[EndDate]
		,[Status]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[ProductKey]
		,D.[ProductAlternateKey]
		,D.[ProductSubcategoryKey]
		,D.[WeightUnitMeasureCode]
		,D.[SizeUnitMeasureCode]
		,D.[EnglishProductName]
		,D.[SpanishProductName]
		,D.[FrenchProductName]
		,D.[StandardCost]
		,D.[FinishedGoodsFlag]
		,D.[Color]
		,D.[SafetyStockLevel]
		,D.[ReorderPoint]
		,D.[ListPrice]
		,D.[Size]
		,D.[SizeRange]
		,D.[Weight]
		,D.[DaysToManufacture]
		,D.[ProductLine]
		,D.[DealerPrice]
		,D.[Class]
		,D.[Style]
		,D.[ModelName]
		,D.[LargePhoto]
		,D.[EnglishDescription]
		,D.[FrenchDescription]
		,D.[ChineseDescription]
		,D.[ArabicDescription]
		,D.[HebrewDescription]
		,D.[ThaiDescription]
		,D.[GermanDescription]
		,D.[JapaneseDescription]
		,D.[TurkishDescription]
		,D.[StartDate]
		,D.[EndDate]
		,D.[Status]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[ProductKey] = I.[ProductKey]
			
END;
GO

-- History trigger for [dbo].[DimProductCategory]
CREATE TRIGGER [dbo].[DimProductCategory_HistoryTrigger] 
    ON [dbo].[DimProductCategory]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[DimProductCategory]
    (
		[ProductCategoryKey]
		,[ProductCategoryAlternateKey]
		,[EnglishProductCategoryName]
		,[SpanishProductCategoryName]
		,[FrenchProductCategoryName]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[ProductCategoryKey]
		,D.[ProductCategoryAlternateKey]
		,D.[EnglishProductCategoryName]
		,D.[SpanishProductCategoryName]
		,D.[FrenchProductCategoryName]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[ProductCategoryKey] = I.[ProductCategoryKey]
			
END;
GO

-- History trigger for [dbo].[DimProductSubcategory]
CREATE TRIGGER [dbo].[DimProductSubcategory_HistoryTrigger] 
    ON [dbo].[DimProductSubcategory]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[DimProductSubcategory]
    (
		[ProductSubcategoryKey]
		,[ProductSubcategoryAlternateKey]
		,[EnglishProductSubcategoryName]
		,[SpanishProductSubcategoryName]
		,[FrenchProductSubcategoryName]
		,[ProductCategoryKey]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[ProductSubcategoryKey]
		,D.[ProductSubcategoryAlternateKey]
		,D.[EnglishProductSubcategoryName]
		,D.[SpanishProductSubcategoryName]
		,D.[FrenchProductSubcategoryName]
		,D.[ProductCategoryKey]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[ProductSubcategoryKey] = I.[ProductSubcategoryKey]
			
END;
GO

-- History trigger for [dbo].[DimPromotion]
CREATE TRIGGER [dbo].[DimPromotion_HistoryTrigger] 
    ON [dbo].[DimPromotion]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[DimPromotion]
    (
		[PromotionKey]
		,[PromotionAlternateKey]
		,[EnglishPromotionName]
		,[SpanishPromotionName]
		,[FrenchPromotionName]
		,[DiscountPct]
		,[EnglishPromotionType]
		,[SpanishPromotionType]
		,[FrenchPromotionType]
		,[EnglishPromotionCategory]
		,[SpanishPromotionCategory]
		,[FrenchPromotionCategory]
		,[StartDate]
		,[EndDate]
		,[MinQty]
		,[MaxQty]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[PromotionKey]
		,D.[PromotionAlternateKey]
		,D.[EnglishPromotionName]
		,D.[SpanishPromotionName]
		,D.[FrenchPromotionName]
		,D.[DiscountPct]
		,D.[EnglishPromotionType]
		,D.[SpanishPromotionType]
		,D.[FrenchPromotionType]
		,D.[EnglishPromotionCategory]
		,D.[SpanishPromotionCategory]
		,D.[FrenchPromotionCategory]
		,D.[StartDate]
		,D.[EndDate]
		,D.[MinQty]
		,D.[MaxQty]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[PromotionKey] = I.[PromotionKey]
			
END;
GO

-- History trigger for [dbo].[DimReseller]
CREATE TRIGGER [dbo].[DimReseller_HistoryTrigger] 
    ON [dbo].[DimReseller]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[DimReseller]
    (
		[ResellerKey]
		,[GeographyKey]
		,[ResellerAlternateKey]
		,[Phone]
		,[BusinessType]
		,[ResellerName]
		,[NumberEmployees]
		,[OrderFrequency]
		,[OrderMonth]
		,[FirstOrderYear]
		,[LastOrderYear]
		,[ProductLine]
		,[AddressLine1]
		,[AddressLine2]
		,[AnnualSales]
		,[BankName]
		,[MinPaymentType]
		,[MinPaymentAmount]
		,[AnnualRevenue]
		,[YearOpened]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[ResellerKey]
		,D.[GeographyKey]
		,D.[ResellerAlternateKey]
		,D.[Phone]
		,D.[BusinessType]
		,D.[ResellerName]
		,D.[NumberEmployees]
		,D.[OrderFrequency]
		,D.[OrderMonth]
		,D.[FirstOrderYear]
		,D.[LastOrderYear]
		,D.[ProductLine]
		,D.[AddressLine1]
		,D.[AddressLine2]
		,D.[AnnualSales]
		,D.[BankName]
		,D.[MinPaymentType]
		,D.[MinPaymentAmount]
		,D.[AnnualRevenue]
		,D.[YearOpened]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[ResellerKey] = I.[ResellerKey]
			
END;
GO

-- History trigger for [dbo].[DimSalesReason]
CREATE TRIGGER [dbo].[DimSalesReason_HistoryTrigger] 
    ON [dbo].[DimSalesReason]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[DimSalesReason]
    (
		[SalesReasonKey]
		,[SalesReasonAlternateKey]
		,[SalesReasonName]
		,[SalesReasonReasonType]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[SalesReasonKey]
		,D.[SalesReasonAlternateKey]
		,D.[SalesReasonName]
		,D.[SalesReasonReasonType]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[SalesReasonKey] = I.[SalesReasonKey]
			
END;
GO

-- History trigger for [dbo].[DimSalesTerritory]
CREATE TRIGGER [dbo].[DimSalesTerritory_HistoryTrigger] 
    ON [dbo].[DimSalesTerritory]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[DimSalesTerritory]
    (
		[SalesTerritoryKey]
		,[SalesTerritoryAlternateKey]
		,[SalesTerritoryRegion]
		,[SalesTerritoryCountry]
		,[SalesTerritoryGroup]
		,[SalesTerritoryImage]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[SalesTerritoryKey]
		,D.[SalesTerritoryAlternateKey]
		,D.[SalesTerritoryRegion]
		,D.[SalesTerritoryCountry]
		,D.[SalesTerritoryGroup]
		,D.[SalesTerritoryImage]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[SalesTerritoryKey] = I.[SalesTerritoryKey]
			
END;
GO

-- History trigger for [dbo].[DimScenario]
CREATE TRIGGER [dbo].[DimScenario_HistoryTrigger] 
    ON [dbo].[DimScenario]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[DimScenario]
    (
		[ScenarioKey]
		,[ScenarioName]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[ScenarioKey]
		,D.[ScenarioName]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[ScenarioKey] = I.[ScenarioKey]
			
END;
GO

-- History trigger for [dbo].[FactAdditionalInternationalProductDescription]
CREATE TRIGGER [dbo].[FactAdditionalInternationalProductDescription_HistoryTrigger] 
    ON [dbo].[FactAdditionalInternationalProductDescription]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[FactAdditionalInternationalProductDescription]
    (
		[ProductKey]
		,[CultureName]
		,[ProductDescription]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[ProductKey]
		,D.[CultureName]
		,D.[ProductDescription]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[ProductKey] = I.[ProductKey]
			AND D.[CultureName] = I.[CultureName]
			
END;
GO

-- History trigger for [dbo].[FactCallCenter]
CREATE TRIGGER [dbo].[FactCallCenter_HistoryTrigger] 
    ON [dbo].[FactCallCenter]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[FactCallCenter]
    (
		[FactCallCenterID]
		,[DateKey]
		,[WageType]
		,[Shift]
		,[LevelOneOperators]
		,[LevelTwoOperators]
		,[TotalOperators]
		,[Calls]
		,[AutomaticResponses]
		,[Orders]
		,[IssuesRaised]
		,[AverageTimePerIssue]
		,[ServiceGrade]
		,[Date]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[FactCallCenterID]
		,D.[DateKey]
		,D.[WageType]
		,D.[Shift]
		,D.[LevelOneOperators]
		,D.[LevelTwoOperators]
		,D.[TotalOperators]
		,D.[Calls]
		,D.[AutomaticResponses]
		,D.[Orders]
		,D.[IssuesRaised]
		,D.[AverageTimePerIssue]
		,D.[ServiceGrade]
		,D.[Date]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[FactCallCenterID] = I.[FactCallCenterID]
			
END;
GO

-- History trigger for [dbo].[FactCurrencyRate]
CREATE TRIGGER [dbo].[FactCurrencyRate_HistoryTrigger] 
    ON [dbo].[FactCurrencyRate]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[FactCurrencyRate]
    (
		[CurrencyKey]
		,[DateKey]
		,[AverageRate]
		,[EndOfDayRate]
		,[Date]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[CurrencyKey]
		,D.[DateKey]
		,D.[AverageRate]
		,D.[EndOfDayRate]
		,D.[Date]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[CurrencyKey] = I.[CurrencyKey]
			AND D.[DateKey] = I.[DateKey]
			
END;
GO

-- History trigger for [dbo].[FactFinance]
CREATE TRIGGER [dbo].[FactFinance_HistoryTrigger] 
    ON [dbo].[FactFinance]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[FactFinance]
    (
		[FinanceKey]
		,[DateKey]
		,[OrganizationKey]
		,[DepartmentGroupKey]
		,[ScenarioKey]
		,[AccountKey]
		,[Amount]
		,[Date]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[FinanceKey]
		,D.[DateKey]
		,D.[OrganizationKey]
		,D.[DepartmentGroupKey]
		,D.[ScenarioKey]
		,D.[AccountKey]
		,D.[Amount]
		,D.[Date]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[FinanceKey] = I.[FinanceKey]
			AND D.[DateKey] = I.[DateKey]
			AND D.[OrganizationKey] = I.[OrganizationKey]
			AND D.[DepartmentGroupKey] = I.[DepartmentGroupKey]
			AND D.[ScenarioKey] = I.[ScenarioKey]
			AND D.[AccountKey] = I.[AccountKey]
			
END;
GO

-- History trigger for [dbo].[FactInternetSales]
CREATE TRIGGER [dbo].[FactInternetSales_HistoryTrigger] 
    ON [dbo].[FactInternetSales]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[FactInternetSales]
    (
		[ProductKey]
		,[OrderDateKey]
		,[DueDateKey]
		,[ShipDateKey]
		,[CustomerKey]
		,[PromotionKey]
		,[CurrencyKey]
		,[SalesTerritoryKey]
		,[SalesOrderNumber]
		,[SalesOrderLineNumber]
		,[RevisionNumber]
		,[OrderQuantity]
		,[UnitPrice]
		,[ExtendedAmount]
		,[UnitPriceDiscountPct]
		,[DiscountAmount]
		,[ProductStandardCost]
		,[TotalProductCost]
		,[SalesAmount]
		,[TaxAmt]
		,[Freight]
		,[CarrierTrackingNumber]
		,[CustomerPONumber]
		,[OrderDate]
		,[DueDate]
		,[ShipDate]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[ProductKey]
		,D.[OrderDateKey]
		,D.[DueDateKey]
		,D.[ShipDateKey]
		,D.[CustomerKey]
		,D.[PromotionKey]
		,D.[CurrencyKey]
		,D.[SalesTerritoryKey]
		,D.[SalesOrderNumber]
		,D.[SalesOrderLineNumber]
		,D.[RevisionNumber]
		,D.[OrderQuantity]
		,D.[UnitPrice]
		,D.[ExtendedAmount]
		,D.[UnitPriceDiscountPct]
		,D.[DiscountAmount]
		,D.[ProductStandardCost]
		,D.[TotalProductCost]
		,D.[SalesAmount]
		,D.[TaxAmt]
		,D.[Freight]
		,D.[CarrierTrackingNumber]
		,D.[CustomerPONumber]
		,D.[OrderDate]
		,D.[DueDate]
		,D.[ShipDate]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[SalesOrderNumber] = I.[SalesOrderNumber]
			AND D.[SalesOrderLineNumber] = I.[SalesOrderLineNumber]
			
END;
GO

-- History trigger for [dbo].[FactInternetSalesReason]
CREATE TRIGGER [dbo].[FactInternetSalesReason_HistoryTrigger] 
    ON [dbo].[FactInternetSalesReason]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[FactInternetSalesReason]
    (
		[SalesOrderNumber]
		,[SalesOrderLineNumber]
		,[SalesReasonKey]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[SalesOrderNumber]
		,D.[SalesOrderLineNumber]
		,D.[SalesReasonKey]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[SalesOrderNumber] = I.[SalesOrderNumber]
			AND D.[SalesOrderLineNumber] = I.[SalesOrderLineNumber]
			AND D.[SalesReasonKey] = I.[SalesReasonKey]
			
END;
GO

-- History trigger for [dbo].[FactProductInventory]
CREATE TRIGGER [dbo].[FactProductInventory_HistoryTrigger] 
    ON [dbo].[FactProductInventory]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[FactProductInventory]
    (
		[ProductKey]
		,[DateKey]
		,[MovementDate]
		,[UnitCost]
		,[UnitsIn]
		,[UnitsOut]
		,[UnitsBalance]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[ProductKey]
		,D.[DateKey]
		,D.[MovementDate]
		,D.[UnitCost]
		,D.[UnitsIn]
		,D.[UnitsOut]
		,D.[UnitsBalance]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[ProductKey] = I.[ProductKey]
			AND D.[DateKey] = I.[DateKey]
			
END;
GO

-- History trigger for [dbo].[FactResellerSales]
CREATE TRIGGER [dbo].[FactResellerSales_HistoryTrigger] 
    ON [dbo].[FactResellerSales]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[FactResellerSales]
    (
		[ProductKey]
		,[OrderDateKey]
		,[DueDateKey]
		,[ShipDateKey]
		,[ResellerKey]
		,[EmployeeKey]
		,[PromotionKey]
		,[CurrencyKey]
		,[SalesTerritoryKey]
		,[SalesOrderNumber]
		,[SalesOrderLineNumber]
		,[RevisionNumber]
		,[OrderQuantity]
		,[UnitPrice]
		,[ExtendedAmount]
		,[UnitPriceDiscountPct]
		,[DiscountAmount]
		,[ProductStandardCost]
		,[TotalProductCost]
		,[SalesAmount]
		,[TaxAmt]
		,[Freight]
		,[CarrierTrackingNumber]
		,[CustomerPONumber]
		,[OrderDate]
		,[DueDate]
		,[ShipDate]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[ProductKey]
		,D.[OrderDateKey]
		,D.[DueDateKey]
		,D.[ShipDateKey]
		,D.[ResellerKey]
		,D.[EmployeeKey]
		,D.[PromotionKey]
		,D.[CurrencyKey]
		,D.[SalesTerritoryKey]
		,D.[SalesOrderNumber]
		,D.[SalesOrderLineNumber]
		,D.[RevisionNumber]
		,D.[OrderQuantity]
		,D.[UnitPrice]
		,D.[ExtendedAmount]
		,D.[UnitPriceDiscountPct]
		,D.[DiscountAmount]
		,D.[ProductStandardCost]
		,D.[TotalProductCost]
		,D.[SalesAmount]
		,D.[TaxAmt]
		,D.[Freight]
		,D.[CarrierTrackingNumber]
		,D.[CustomerPONumber]
		,D.[OrderDate]
		,D.[DueDate]
		,D.[ShipDate]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[SalesOrderNumber] = I.[SalesOrderNumber]
			AND D.[SalesOrderLineNumber] = I.[SalesOrderLineNumber]
			
END;
GO

-- History trigger for [dbo].[FactSalesQuota]
CREATE TRIGGER [dbo].[FactSalesQuota_HistoryTrigger] 
    ON [dbo].[FactSalesQuota]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[FactSalesQuota]
    (
		[SalesQuotaKey]
		,[EmployeeKey]
		,[DateKey]
		,[CalendarYear]
		,[CalendarQuarter]
		,[SalesAmountQuota]
		,[Date]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[SalesQuotaKey]
		,D.[EmployeeKey]
		,D.[DateKey]
		,D.[CalendarYear]
		,D.[CalendarQuarter]
		,D.[SalesAmountQuota]
		,D.[Date]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[SalesQuotaKey] = I.[SalesQuotaKey]
			
END;
GO

-- History trigger for [dbo].[FactSurveyResponse]
CREATE TRIGGER [dbo].[FactSurveyResponse_HistoryTrigger] 
    ON [dbo].[FactSurveyResponse]
AFTER UPDATE 
AS
BEGIN
    SET NOCOUNT ON;	

    INSERT INTO [History].[FactSurveyResponse]
    (
		[SurveyResponseKey]
		,[DateKey]
		,[CustomerKey]
		,[ProductCategoryKey]
		,[EnglishProductCategoryName]
		,[ProductSubcategoryKey]
		,[EnglishProductSubcategoryName]
		,[Date]
        ,[EtlUpdatedDate]
    )
    SELECT
		D.[SurveyResponseKey]
		,D.[DateKey]
		,D.[CustomerKey]
		,D.[ProductCategoryKey]
		,D.[EnglishProductCategoryName]
		,D.[ProductSubcategoryKey]
		,D.[EnglishProductSubcategoryName]
		,D.[Date]
        ,GETDATE()
    FROM DELETED AS D
		LEFT JOIN INSERTED AS I ON 
			D.[SurveyResponseKey] = I.[SurveyResponseKey]
			
END;
GO

-- End of auto generated code!